<h1>Welcome to GradeBook!</h1>
<% if current_user && current_user.user_type.slug == 'TEA' %>
  <%= render partial: 'lectures' %>
<% elsif current_user && current_user.user_type.slug == 'STU' %>
  <%= render partial: 'grades' %>
<% end %>
