<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center mt-2">
    <h1 class="font-bold text-4xl">Lectures</h1>
  </div>
  <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
    <p class="font-bold">Create a lecture</p>
    <ul>
      <li>1. Create a lecture</li>
      <li>2. Assign promotion to a lecture</li>
    </ul>
  </div>
  <div class="flex space-between items-center mt-2">
    <%= link_to 'New lecture', new_lecture_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to "Assign a promotion to a lecture", new_dispensed_lecture_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <br>
  </div>

  <div id="lectures" class="min-w-full">
    <div id="lectures" class="min-w-full">
      <% if @lectures.present? %>
        <%= render @lectures %>
      <% else %>
        <p>No lectures found.</p>
      <% end %>
    </div>
  </div>
</div>
