<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Lectures</h1>
  </div>
  <div class="flex space-between items-center">
    <%= link_to 'New lecture', new_lecture_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to "Assign a promotion to a lecture", new_dispensed_lecture_path,  class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <br>
  </div>

  <div id="lectures" class="min-w-full">
    <div id="lectures" class="min-w-full">
      <% if @lectures.present? %>
        <%= render @lectures %>
      <% else %>
        <p>No lectures found.</p>
      <% end %>
    </div>
  </div>
</div>
